<a href="https://colab.research.google.com/github/GitExamplePract/HiveQueries/blob/master/Copy_of_Day2FDPML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
print("Hello")

Hello

In [0]:
import numpy as np
import pandas as pd
filepath = '/content/covid_19_india.csv'
data = pd.read_csv(filepath)
data.head()

   Sno        Date     Time  ... Cured Deaths Confirmed
0    1  30-01-2020  6:00 PM  ...     0      0         1
1    2  31-01-2020  6:00 PM  ...     0      0         1
2    3  01-02-2020  6:00 PM  ...     0      0         2
3    4  02-02-2020  6:00 PM  ...     0      0         3
4    5  03-02-2020  6:00 PM  ...     0      0         3

[5 rows x 9 columns]

In [0]:
print(data.shape)

(1638, 9)

In [0]:
print(data.columns.tolist())

['Sno', 'Date', 'Time', 'Region', 'ConfirmedIndianNational', 'ConfirmedForeignNational', 'Cured', 'Deaths', 'Confirmed']

In [0]:
print(data.dtypes)

Sno                          int64
Date                        object
Time                        object
Region                      object
ConfirmedIndianNational     object
ConfirmedForeignNational    object
Cured                        int64
Deaths                       int64
Confirmed                    int64
dtype: object

In [0]:
data.Region.value_counts()

Kerala                         97
Telengana                      65
Delhi                          65
Rajasthan                      64
Uttar Pradesh                  63
Haryana                        63
Tamil Nadu                     60
Ladakh                         60
Karnataka                      58
Punjab                         58
Jammu and Kashmir              58
Maharashtra                    58
Andhra Pradesh                 55
Uttarakhand                    52
Odisha                         51
Puducherry                     49
West Bengal                    49
Chhattisgarh                   48
Chandigarh                     48
Gujarat                        47
Madhya Pradesh                 46
Himachal Pradesh               46
Bihar                          45
Manipur                        43
Mizoram                        42
Goa                            41
Andaman and Nicobar Islands    41
Assam                          35
Jharkhand                      34
Arunachal Pradesh              33
Tripura                        29
Meghalaya                      22
Nagaland#                       5
Nagaland                        4
Unassigned                      3
Jharkhand#                      1
Name: Region, dtype: int64

In [0]:
stat_df = data.describe()
stat_df.loc['range'] = stat_df.loc['max'] - stat_df.loc['min']

out_fields = ['mean', '25%', '50%', '75%', 'range']
stat_df = stat_df.loc[out_fields]
stat_df
stat_df.rename({'50%':'median'}, inplace=True)
stat_df

            Sno        Cured      Deaths     Confirmed
mean     819.50    80.022589   12.283272    387.067766
25%      410.25     0.000000    0.000000      5.000000
median   819.50     4.000000    0.000000     31.000000
75%     1228.75    32.000000    4.000000    245.000000
range   1637.00  2465.000000  583.000000  14541.000000